@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<Features> FeaturesOptions

@{
	ViewData["lang"] = System.Globalization.CultureInfo.CurrentCulture.Name;
	var features = FeaturesOptions.Value;
}

<!DOCTYPE html>
<html lang="@ViewData["lang"]" data-bs-theme="@features.DefaultBootstrapTheme">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Libre Library</title>
	<meta name="description"
		content="@Localizer["Libre Library is a simple library management system. It allows users to manage book loans, including adding new loans, viewing loan details, and marking loans as returned."]" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
		integrity="sha256-2FMn2Zx6PuH5tdBQDRNwrOo60ts5wWPC9R8jK67b3t4=" crossorigin="anonymous">
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css"
		integrity="sha256-pdY4ejLKO67E0CM2tbPtq1DJ3VGDVVdqAR6j3ZwdiE4=" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<link rel="icon" type="image/png" href="~/img/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="~/img/logo.svg" />
	<link rel="shortcut icon" href="~/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Libr(e)ary" />
	<link rel="manifest" href="~/site.webmanifest" />
</head>

<body>
	<div class="visually-hidden-focusable position-fixed z-1 overflow-hidden bg-body row w-100 p-2 border-bottom">
		<div class="col-12"><a class="d-inline-flex p-2 m-1" href="#content">@Localizer["Skip to main content"]</a></div>
	</div>

	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">
					<img src="~/img/logo.svg" alt="" height="32" width="32" class="logo" />
					<span class="ms-1">@Localizer["Libr(e)ary"]</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="@Localizer["Toggle navigation"]">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link @("Home".Equals(ViewData["ActiveNav"]) ? "active" : "")"
								asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @("Loans".Equals(ViewData["ActiveNav"]) ? "active" : "")"
								asp-controller="Loans" asp-action="Index">@Localizer["Loans"]</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" id="content" class="py-5">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted mb-4">
		<div class="container mt-3">
			&copy; 2025 - Yvan Razafindramanana - <a target="_blank" rel="noopener noreferrer"
				href="https://github.com/yvzn/library-management-system">@Localizer["Source code"]</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
		integrity="sha256-5P1JGBOIxI7FBAvT/mb1fCnI5n/NhQKzNUuW7Hq0fMc=" crossorigin="anonymous"></script>
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"
		integrity="sha256-EN12gUIeRjilWjNnporA6sGXO+G0RxuRsbniMGuwsFA=" crossorigin="anonymous"></script>
	<script src="~/js/site.js" asp-append-version="true" defer></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
