@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
	ViewData["lang"] = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<!DOCTYPE html>
<html lang="@ViewData["lang"]" data-bs-theme="dark">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Libre Library</title>
	<meta name="description"
		content="@Localizer["Libre Library is a simple library management system. It allows users to manage book loans, including adding new loans, viewing loan details, and marking loans as returned."]" />
	<script type="importmap"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
		integrity="sha256-zRgmWB5PK4CvTx4FiXsxbHaYRBBjz/rvu97sOC7kzXI=" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<link rel="icon" type="image/png" href="~/img/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="~/img/logo.svg" />
	<link rel="shortcut icon" href="~/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Libr(e)ary" />
	<link rel="manifest" href="~/site.webmanifest" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">
					<img src="~/img/logo.svg" alt="" height="32" width="32" class="logo" />
					<span class="ms-1">@Localizer["Libr(e)ary"]</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="@Localizer["Toggle navigation"]">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="nav nav-pills flex-grow-1">
						<li class="nav-item">
							<a class="nav-link" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="Loans" asp-action="Index">@Localizer["Loans"]</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="py-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted mt-5">
		<div class="container mt-3">
			&copy; 2025 - Yvan Razafindramanana - <a target="_blank" rel="noopener noreferrer"
				href="https://github.com/yvzn/library-management-system">@Localizer["Source code"]</a>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
		integrity="sha256-lel57Jim1/CW4I1iEkaHexK/J9h/ZRneeORKiQuNOIg=" crossorigin="anonymous"></script>
	<script src="~/js/site.js" asp-append-version="true" defer></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
