@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model library_management_system.Models.SearchResultsViewModel

<section class="mb-5">
	<h2 class="display-5">@Localizer["New Movies"]</h2>
	@if (Model.Movies.Count > 0)
	{
		<output class="row">
			<table class="table">
				<colgroup>
					<col class="col-5">
					</col>
					<col class="col-3">
					</col>
					<col class="col-2">
					</col>
					<col class="col-2">
					</col>
				</colgroup>
				<thead>
					<tr>
						<th scope="col">@Html.DisplayNameFor(model => model.Movies.First().Title)</th>
						<th scope="col">@Html.DisplayNameFor(model => model.Movies.First().Director)</th>
						<th scope="col">@Html.DisplayNameFor(model => model.Movies.First().ReleaseYear)</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var movie in Model.Movies)
					{
						<tr>
							<td class="align-middle">@Html.DisplayFor(model => movie.Title)</td>
							<td class="align-middle">@Html.DisplayFor(model => movie.Director)</td>
							<td class="align-middle">@Html.DisplayFor(model => movie.ReleaseYear)</td>
							<td class="text-md-end">
								@if (Model.LoanId != null)
								{
									<form asp-controller="LoanMovies" asp-action="Create">
										<input type="hidden" name="LoanId" value="@Model.LoanId" />
										<input type="hidden" name="Movie.Title" value="@movie.Title" />
										<input type="hidden" name="Movie.Director" value="@movie.Director" />
										<input type="hidden" name="Movie.ReleaseYear" value="@movie.ReleaseYear" />
										<input type="hidden" name="Movie.EAN" value="@movie.EAN" />

										<button type="submit" class="btn btn-outline-primary text-nowrap"
											autofocus="@(Model.Movies.Count == 1)"
											>@Localizer["Add to Loan"]</button>
									</form>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</output>
	}
	else
	{
		<div>
			@Localizer["No movies found."]
		</div>
	}
</section>
