@model library_management_system.Models.Book

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = @Localizer["Add New Book"];
}

<div class="mb-3">
	<h1 class="display-4">@Localizer["Add New Book"]</h1>
</div>

<form method="post" asp-controller="Books" asp-action="Create" asp-route-loanId="@ViewData["LoanId"]">
	<div class="row">
		<div class="col-12 col-md-6 mb-3">
			<label asp-for="Title" class="form-label">
				@Html.DisplayNameFor(model => model.Title) *
			</label>
			<input asp-for="Title" class="form-control" type="text" required />
		</div>
		<div class="col-12 col-md-6 mb-3">
			<label asp-for="Author" class="form-label">
				@Html.DisplayNameFor(model => model.Author) *
			</label>
			<input asp-for="Author" class="form-control" type="text" required />
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12 col-md-6 mb-3">
			<label asp-for="ISBN_13" class="form-label">
				@Html.DisplayNameFor(model => model.ISBN_13)
			</label>
			<input asp-for="ISBN_13" class="form-control" type="text" />
		</div>
		<div class="col-12 col-md-6 mb-3">
			<label asp-for="ISBN_10" class="form-label">
				@Html.DisplayNameFor(model => model.ISBN_10)
			</label>
			<input asp-for="ISBN_10" class="form-control" type="text" />
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-6">
			<button type="submit" class="btn btn-primary">@Localizer["Create Book"]</button>
		</div>
	</div>
</form>
