
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model library_management_system.Models.SearchResultsViewModel


@{
	ViewData["Title"] = Localizer["Search Results"];
	ViewData["ActiveNav"] = "Loans";
}


<search>
	@if ("true".Equals(ViewData["OnlineSearchEnabled"]))
	{
		<form id="searchParams" hx-post="/Books/SearchResultsOnline" hx-trigger="intersect once"
			hx-target="#searchResultsOnline">
			<input type="hidden" name="LoanId" value="@Model.LoanId" />
			<input type="hidden" name="Title" value="@Model.Title" />
			<input type="hidden" name="Author" value="@Model.Author" />
			<input type="hidden" name="ISBN" value="@Model.ISBN" />
		</form>
	}

	@if (Model.Books.Count > 0)
	{
		<section class="mb-5">
			<h2 class="display-5">@Localizer["Known Books"]</h2>
			<output class="row">
				<table class="table">
					<colgroup>
						<col class="col-5">
						</col>
						<col class="col-3">
						</col>
						<col class="col-2">
						</col>
						<col class="col-2">
						</col>
					</colgroup>
					<thead>
						<tr>
							<th scope="col">@Html.DisplayNameFor(model => model.Books.First().Title)</th>
							<th scope="col">@Html.DisplayNameFor(model => model.Books.First().Author)</th>
							<th scope="col">@Html.DisplayNameFor(model => model.Books.First().ISBN_10)</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var book in Model.Books)
						{
							<tr>
								<td class="align-middle">@Html.DisplayFor(model => book.Title)</td>
								<td class="align-middle">@Html.DisplayFor(model => book.Author)</td>
								<td class="align-middle">@Html.DisplayFor(model => book.ISBN_10)</td>
								<td class="text-md-end">
									@if (Model.LoanId != null)
									{
										<a class="btn btn-outline-primary text-nowrap" asp-controller="Loans" asp-action="AddBook"
											asp-route-loanId="@Model.LoanId" asp-route-bookId="@book.ID">@Localizer["Add to Loan"]</a>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</output>
		</section>
	}

	@if ("true".Equals(ViewData["OnlineSearchEnabled"]))
	{
		<section class="mb-5" id="searchResultsOnline">
			<h2 class="display-5">@Localizer["New Books"]</h2>
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">@Localizer["Loading..."]</span>
			</div>
		</section>
	}
</search>


<form asp-controller="Books" asp-action="New" class="mb-5">
	<h2 class="display-5">@Localizer["Add New Book"]</h2>

	<input type="hidden" name="LoanId" value="@Model.LoanId" />
	<input type="hidden" name="Book.Title" value="@Model.Title" />
	<input type="hidden" name="Book.Author" value="@Model.Author" />
	<input type="hidden" name="Book.ISBN_13" value="@Model.ISBN" />
	<input type="hidden" name="Book.ISBN_10" value="@Model.ISBN" />

	<p>@Localizer["Book not listed?"]</p>

	<button type="submit" class="btn btn-outline-primary text-nowrap"><i
				class="bi bi-book me-2"></i> @Localizer["Add New Book"]</button>
</form>

@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
		integrity="sha256-tnaO7U86+Ftzp1BUcBvWDhfKxxiu8rf2slTl4OIEVhY=" crossorigin="anonymous"></script>
}
