@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model library_management_system.Models.SearchResultsViewModel

@{
	ViewData["lang"] = System.Globalization.CultureInfo.CurrentCulture.Name;
	ViewData["Title"] = Localizer["Search Results"];
	ViewData["ActiveNav"] = "Loans";
}

<search>
	@if ("true".Equals(ViewData["OnlineSearchEnabled"]))
	{
		<form id="searchParams" hx-post="/Movies/SearchResultsOnline" hx-trigger="intersect once"
			hx-target="#searchResultsOnline">
			<input type="hidden" name="LoanId" value="@Model.LoanId" />
			<input type="hidden" name="Title" value="@Model.Title" />
			<input type="hidden" name="Director" value="@Model.Director" />
			<input type="hidden" name="ReleaseYear" value="@Model.ReleaseYear" />
			<input type="hidden" name="EAN" value="@Model.EAN" />
		</form>
	}

	@if (Model.Movies.Count > 0)
	{
		<section class="mb-5">
			<h2 class="display-5">@Localizer["Known Movies"]</h2>
			<output class="row">
				<table class="table">
					<colgroup>
						<col class="col-5">
						</col>
						<col class="col-3">
						</col>
						<col class="col-1">
						</col>
						<col class="col-1">
						</col>
						<col class="col-2">
						</col>
					</colgroup>
					<thead>
						<tr>
							<th scope="col">@Localizer["Title"]</th>
							<th scope="col">@Html.DisplayNameFor(model => model.Movies.First().Director)</th>
							<th scope="col">@Html.DisplayNameFor(model => model.Movies.First().ReleaseYear)</th>
							<th scope="col">@Html.DisplayNameFor(model => model.Movies.First().Media)</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var movie in Model.Movies.OrderBy(m => m.Title))
						{
							<tr>
								<td class="align-middle">@("fr".Equals(ViewData["lang"]) ? movie.TitleFr ?? movie.Title :
																movie.Title)</td>
								<td class="align-middle">@Html.DisplayFor(model => movie.Director)</td>
								<td class="align-middle">@Html.DisplayFor(model => movie.ReleaseYear)</td>
								<td class="align-middle">@Html.DisplayFor(model => movie.Media)</td>
								<td class="text-md-end">
									@if (Model.LoanId != null)
									{
										<a class="btn btn-outline-primary text-nowrap" asp-controller="Loans" asp-action="AddMovie"
											asp-route-loanId="@Model.LoanId" asp-route-movieId="@movie.ID"
											autofocus="@(Model.Movies.Count == 1)">@Localizer["Add to Loan"]</a>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</output>
		</section>
	}

	@if ("true".Equals(ViewData["OnlineSearchEnabled"]))
	{
		<section class="mb-5" id="searchResultsOnline">
			<h2 class="display-5">@Localizer["New Movies"]</h2>
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">@Localizer["Loading..."]</span>
			</div>
		</section>
	}
</search>

<form asp-controller="Movies" asp-action="New" class="mb-5">
	<h2 class="display-5">@Localizer["Add New Movie"]</h2>

	<input type="hidden" name="LoanId" value="@Model.LoanId" />
	<input type="hidden" name="Movie.Title" value="@Model.Title" />
	<input type="hidden" name="Movie.Director" value="@Model.Director" />
	<input type="hidden" name="Movie.ReleaseYear" value="@Model.ReleaseYear" />
	<input type="hidden" name="Movie.EAN" value="@Model.EAN" />

	<p>@Localizer["Movie not listed?"]</p>

	<button type="submit" class="btn btn-outline-primary text-nowrap"><i class="bi bi-book me-2" aria-hidden="true"></i>
		@Localizer["Add New Movie"]</button>
</form>

@section Scripts {
	<script src="~/lib/htmx.org/dist/htmx.min.js"
		integrity="sha256-YCMa5rqds4JesVomESLV9VkhxNU7Zr9jfcGLTuJ8efk=" crossorigin="anonymous"></script>
}
