@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model library_management_system.Models.SearchViewModel

@{
	ViewData["Title"] = @Localizer["Search Music Discs"];
	ViewData["ActiveNav"] = "Loans";
}


<div class="mb-3">
	@if (Model.LoanId != null)
	{
		<h1 class="display-4">@Localizer["Add Music Disc to Loan"]</h1>
	}
	else
	{
		<h1 class="display-4">@Localizer["Search Music Discs"]</h1>
	}
</div>

<search>
	<form method="get" asp-controller="MusicDiscs" asp-action="SearchResults" class="mb-5">
		@Html.HiddenFor(model => model.LoanId)
		<div class="row align-items-end">
			<div class="col-12 col-md-3 mt-3 mt-md-0 ">
				<label asp-for="Title" class="form-label">
					@Html.DisplayNameFor(model => model.Title)
				</label>
				<input asp-for="Title" class="form-control" type="search" enterkeyhint="search" />
			</div>
			<div class="col-12 col-md-3 mt-3 mt-md-0 ">
				<label asp-for="Author" class="form-label">
					@Localizer["Artist"]
				</label>
				<input asp-for="Author" class="form-control" type="search" enterkeyhint="search" />
			</div>
			<div class="col-12 col-md-3 mt-3 mt-md-0 ">
				<label asp-for="EAN" class="form-label">
					@Html.DisplayNameFor(model => model.EAN)
				</label>
				<input asp-for="EAN" class="form-control" type="search" enterkeyhint="search" autofocus />
			</div>
			<div class="col-12 col-md-3 mt-3 mt-md-0 text-md-end">
				<button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>
					@Localizer["Search"]</button>
			</div>
		</div>
		<span asp-validation-for="Title" class="text-danger"></span>
	</form>
</search>
