@model library_management_system.Models.Loan

@{
	ViewData["Title"] = "Loan Details";
}

<div class="mb-3">
	<h1 class="display-4">Loan Details</h1>
</div>

<div class="mb-3"><strong>@Html.DisplayNameFor(model => model.LoanDate):</strong> @Model.LoanDate</div>
<div class="mb-3"><strong>@Html.DisplayNameFor(model => model.DueDate):</strong> @Model.DueDate</div>
<div class="mb-3"><strong>@Html.DisplayNameFor(model => model.ReturnDate):</strong> @Model.ReturnDate</div>

<div class="mb-3 row align-items-center">
	<h2 class="display-5 col-12 col-md-6">Books</h2>
	<div class="col-12 col-md-6 text-md-end">
		@if (ViewData["AddBooks"] != null && "true".Equals(ViewData["AddBooks"]))
		{
			<a class="btn btn-primary" asp-controller="Books" asp-action="Search" asp-route-loanId="@Model.ID">Add Book</a>
		}
	</div>
</div>

@if (Model.LoanBooks.Count == 0)
{
	<p>No books have been loaned.</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th scope="col">@Html.DisplayNameFor(model => model.LoanBooks.First().Book!.Title)</th>
				<th scope="col">@Html.DisplayNameFor(model => model.LoanBooks.First().Book!.Author)</th>
				<th scope="col">@Html.DisplayNameFor(model => model.LoanBooks.First().Book!.ISBN_10)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var loanBook in Model.LoanBooks)
			{
				<tr>
					<td>@Html.DisplayFor(model => loanBook.Book!.Title)</td>
					<td>@Html.DisplayFor(model => loanBook.Book!.Author)</td>
					<td>@Html.DisplayFor(model => loanBook.Book!.ISBN_10)</td>
				</tr>
			}
		</tbody>
	</table>
}
