@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model library_management_system.Models.Loan

@{
	ViewData["Title"] = Localizer["Loan Details"];
}

<div class="mb-3">
	<h1 class="display-4">@Localizer["Loan Details"]</h1>
</div>

<div class="row mb-5">
	<div class="col-12 col-md-8">
		<div class="row">
			<div class="col-4">@Html.DisplayNameFor(model => model.LoanDate):</div>
			<div class="col-8">@Html.DisplayFor(model => model.LoanDate)</div>
		</div>
		<div class="row mt-3">
			<div class="col-4">@Html.DisplayNameFor(model => model.DueDate):</div>
			<div class="col-8">@Html.DisplayFor(model => model.DueDate)</div>
		</div>
		@if (!"true".Equals(ViewData["AddBooks"]))
		{
			<div class="row mt-3">
				<div class="col-4">@Html.DisplayNameFor(model => model.ReturnDate):</div>
				<div class="col-8">
					@if (@Model.ReturnDate == null)
					{
						<a class="btn btn-primary" asp-asp-controller="Loans" asp-action="Return"
							asp-route-loanId="@Model.ID">@Localizer["Mark as returned"]</a>
					}
					else
					{
						@Html.DisplayFor(model => model.ReturnDate)
					}
				</div>
			</div>
		}
	</div>
</div>

<div class="mb-3 row align-items-center">
	<h2 class="display-5 mb-0 col-12 col-md-6">@Localizer["Books"]</h2>
	<div class="col-12 col-md-6 text-md-end">
		@if ("true".Equals(ViewData["AddBooks"]))
		{
			<a class="btn btn-primary" asp-controller="Books" asp-action="Search"
				asp-route-loanId="@Model.ID">@Localizer["Add Book"]</a>
		}
	</div>
</div>

@if (Model.LoanBooks.Count == 0)
{
	<p class="mb-5">@Localizer["No books have been loaned."]</p>
}
else
{
	<div class="table-responsive mb-5">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">@Html.DisplayNameFor(model => model.LoanBooks.First().Book!.Title)</th>
					<th scope="col">@Html.DisplayNameFor(model => model.LoanBooks.First().Book!.Author)</th>
					<th scope="col">@Html.DisplayNameFor(model => model.LoanBooks.First().Book!.ISBN_10)</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var loanBook in Model.LoanBooks)
				{
					<tr>
						<td>@Html.DisplayFor(model => loanBook.Book!.Title)</td>
						<td>@Html.DisplayFor(model => loanBook.Book!.Author)</td>
						<td>@Html.DisplayFor(model => loanBook.Book!.ISBN_10)</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

<div class="mb-5">
	<form asp-controller="Loans" asp-action="Delete" asp-route-id="@Model.ID" method="post">
		<h2 class="display-6">@Localizer["Operations"]</h2>

		<details>
			<summary>@Localizer["Sensitive Actions"]</summary>
			<button type="submit" class="btn btn-danger mt-3">@Localizer["Delete Loan"]</button>
		</details>
	</form>
</div>
