@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model library_management_system.Models.Loan

@{
	ViewData["Title"] = Localizer["Edit Dates"];
	ViewData["ActiveNav"] = "Loans";
}

<div class="mb-3">
	<h1 class="display-4">@Localizer["Edit Dates"]</h1>
</div>

<form method="post" asp-controller="Loans" asp-action="Update">
	@Html.HiddenFor(model => model.ID)
	<div class="row mb-5">
		<div class="col-12 col-md-6">
			<div class="mb-3">
				<label asp-for="LoanDate" class="form-label">
					@Html.DisplayNameFor(model => model.LoanDate)
				</label>
				<input asp-for="LoanDate" class="form-control" type="date" required />
			</div>
			<div class="mb-3">
				<label asp-for="DueDate" class="form-label">
					@Html.DisplayNameFor(model => model.DueDate)
				</label>
				<input asp-for="DueDate" class="form-control" type="date" required />
			</div>
			@if (@Model.ReturnDate != null)
			{
				<div class="mb-3">
					<label asp-for="ReturnDate" class="form-label">
						@Html.DisplayNameFor(model => model.ReturnDate)
					</label>
					<div class="input-group">
						<input asp-for="ReturnDate" class="form-control" type="date" />
						<button class="btn btn-outline-secondary" type="button" id="ClearReturnDate"
							data-bs-toggle="tooltip" data-bs-offset="0,10" data-bs-title="@Localizer["Clear"]"
							aria-label="@Localizer["Clear"]">
							<i class="bi bi-x-circle" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			}
			<button type="submit" class="btn btn-primary"><i class="bi bi-calendar-week me-2" aria-hidden="true"></i>
				@Localizer["Update Loan"]</button>
		</div>
	</div>
</form>

@section Scripts {
	<script>
		const defaultLoanDuration = @ViewData["DefaultLoanDuration"];

		// https://getbootstrap.com/docs/5.3/components/tooltips/#enable-tooltips
		document.addEventListener("DOMContentLoaded", function () {
			const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
			const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
		});
	</script>
	<script src="~/js/loans/edit.js" asp-append-version="true" defer></script>
}
